body {
  font-family: Avenir;
}

div.Main {
  display: flex;
  flex-direction: column;
}

div.stars {
  height: 100vh;
  width: 200%;
  opacity: 0.2;
  position: fixed;
  z-index: 1;
  animation: stars 10s infinite;
  background-image: url('./assets/stars.svg')
}

@keyframes stars {
  0% {
    margin-left: 0vw;
  }
  50% {
    margin-left: -100vw;
    opacity: 0.5;
  }
  100% {
    margin-left: 0vw;
  }
}
div.mainHeader {
  height: 100vh;
  background-image: url('./assets/back.svg');
  color: white;
  background-repeat: none;
  background-size: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeinHeader 0.3s linear;
}
div.mainHeader div.logobar {
  height: 75px;
  position: absolute;
  left: 25px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 700;
}
div.mainHeader div.logobar img.logo {
  height: 100%;
  margin-right: 5px;
}

div.mainHeader h1 {
  font-size: 4em;
}
div.mainHeader h2 {
  font-weight: 200;
  margin-top: -20px;
  letter-spacing: 2px;
}

navbar {
  list-style: none;
  display: flex;
  position: absolute;
  right: 50px;
  top: 40px;
}

navbar li {
  margin-left: 70px;
}

div.headertext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 160px;
}

div.mainBody {
  height: 100vh;
  z-index:2;
  position: relative;
}

div.about {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
div.about h1 {
  font-size: 2.5em;
}
div.about i {
  color: #e4e4e4;
}
h1.abouttext {
  font-size: 3em;
  margin-top: -10vh;
}

div.aboutsection {
  display: grid;
  height: 50vh;
  width: 100%;
  grid-template-columns: 40% 60%;
  margin-top: 12vh;
  
}
div.aboutleft {
  grid-column: 1;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2.aboutTitle {
  transform: rotate(-90deg);
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 10px;
  font-size: 1.7em;
}
div.aboutleft img {
  height:350px;
  border-radius: 175px;
}
div.aboutright {
  grid-column: 2;
  height: 70vh;
  font-size: 1.5em;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.influences {
  height: 5vh;
  width: 60%;
  background: #f7f5f5;
  text-align: center;
  border-radius: 0px 15px 0px 15px;
}
div.influences a {
  text-decoration: none;
  color: #525252;
  margin: 0px 20px;
  font-size: 0.8em;
}

h1.skillsTitle {
  text-align: center;
  height: 10vh;
  background: #f7f5f5;
  width: 100%;
  margin-bottom: -30px;
  padding-top: 40px;
  
}

div.skills {
  height: 30vh;
  width: 100%;
  background: #f7f5f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

div.skills img {
  height: 70px;
}

div.indivIcon {
  text-align: center;
}

div.bottom {
  height: 100vh;
  background-image: url('./assets//bottom.svg');
  background-repeat: none;
  background-size: cover;
}


@keyframes FadeIn { 
  0% {
    opacity: 0;
    transform: scale(.1);
    margin-top: -100px;
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
   
  }
  100% {
    transform: scale(1);
    margin-top: 0px;
  }
}

@keyframes zoom {
  from {font-size: 1em}
  to {font-size: 1.3em}
}

@keyframes fadeinHeader {
  from {opacity: 0}
  to {opacity: 1}
}


div.footericons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.5em;
  color: white;
  margin-top: -15vh;
}
/* #f7f5f5; */
div.footericons i {
  color: white;
  margin-right: 15px;
  
}